* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    background: #f1f5f9;
    color: #0f172a;
}

.header {
    background: white;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.title,
.resetBtn {
    display: flex;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.resetBtn {
    padding: .5rem;
    margin-bottom: .25rem;
    background: #2563eb;
    color: white;
    border: none;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.card-xb {
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.uploadInput {
    width: 100%;
    cursor: pointer;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
}

.sidebar {
    background: white;
    padding: 1rem;
    border-radius: 10px;
}

.tabs {
    display: flex;
    gap: .5rem;
}

.tabs button {
    flex: 1;
    padding: .5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #e2e8f0;
}

.tabs .active {
    background: #2563eb;
    color: white;
}

.input-file-content {
    width: 100%;
    max-width: 500px;
    border: 1px solid red;
}

input[type="text"], input[type="file"] {
    width: 100%;
    margin: .75rem 0;
    padding: .5rem;
}

.list button {
    width: 100%;
    padding: .5rem;
    margin-bottom: .25rem;
    border: none;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
}

.list button.active {
    background: #2563eb;
    color: white;
}

.results {
    background: white;
    border-radius: 10px;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: .5rem;
    border-bottom: 1px solid #e2e8f0;
}

.muted {
    color: #64748b;
}

@media (max-width: 768px) {

    .header{
        flex-direction: column;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .list {
        max-height: 450px;
        overflow-y: auto;
        padding-right: 4px;
    }

    .list::-webkit-scrollbar {
        width: 6px;
    }

    .list::-webkit-scrollbar-thumb {
        background: #cbd5f5;
        border-radius: 4px;
    }

    .results {
        max-height: 700px;
        overflow-y: auto;
    }

    .results::-webkit-scrollbar {
        width: 6px;
    }

    .results::-webkit-scrollbar-thumb {
        background: #c7d2fe;
        border-radius: 4px;
    }
}
